body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;

    color: rgb(56, 58, 59);
    padding: 0;
    margin: 0;
    background: #f1f1f4;
}

/*-------Global CSS-----*/
.container{
    width: 80%; /*Responsive*/
    margin: auto;
    overflow:hidden; 
    /* specifies what should happen if content overflows an element's box.The overflow is clipped, and the rest of the content will be invisible*/
}

ul{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: satisfy-Regular;
    src: url(./../font/Satisfy-Regular.ttf);
 }

 /*-----------Buttons---------*/
.button-lightseagreen#read-more{
    color:rgb(56, 58, 59);
    font-size: 16px;
    margin-left:130px;
    text-decoration: none;
    padding:10px;
    border-radius: 0.2em;
    transition: background-color 1.5s;
}

.button-lightseagreen#read-more:hover{
    background-color: lightseagreen;
    color: #f1f1f4;
    font-size: 16px;
    font-weight: bold;
    border-width: 0;
}

.button-greyToLightseagreen{
    font-size: 16px;
    width:100px;
    height:40px;
    background: rgb(56, 58, 59);
    color:#f1f1f4;
    border-radius: 0.2em;
    border-width: 0px;
    margin-top: 10px;
    transition: background-color 1.5s;
}

.button-greyToLightseagreen:hover{
    background-color: lightseagreen;
    color: #f1f1f4;
    font-size: 16px;
    border-radius: 0.2em;
    border-width: 0;
}

/*------header------*/
header{
    background-color: rgb(56, 56, 59);
    color: #f1f1f4;
    padding-top:10px;
    min-height: 100px;
    margin:0;
}

header a{
    color: #f1f1f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    display: inline;
    padding:0 20px 0 20px;
    float: left;
    
}

/*---#branding--*/
header #branding{
    /*width:30%;*/
    float: left;
    padding-top : 30px ;
}

header #branding label{
    font-size: 40px;
    margin:0;
    /* padding:10px; */
}

header h3{
    font-size: 25px;
    color: lightseagreen;
    margin-bottom: 10px ;
}

/*--navigation bar--*/
header nav{
    float: right;
    margin-top:40px;
    /*width:70%;*/
}
header a{
    transition: color 0.5s , padding-top 1s, padding-bottom 1s;
}

header a:hover{
    color:lightseagreen;
    padding-top:10px;
    padding-bottom:10px;
}

header .current{
    color: lightseagreen;
    font-size: 25px;
    border-top: lightseagreen solid 2px;
    border-bottom: lightseagreen solid 2px;
}

/* -----#logo----- */
#logo{
    padding : 10px ; 
    transition: padding 1s ;
    border : 2px solid white;
}

#logo:hover{
    padding : 15px ;
}
/*----#ribbon-------*/
#ribbon{
    background-color: lightseagreen;
    height:30px;
}

/*---section #showcase---*/
#showcase{
    max-height:600px;
    height:600px;
    background: url(../images/office.jpg) no-repeat 0-400px;
    text-align: center;
}

#showcase h3{
    font-family: satisfy-Regular ;
    padding-top:250px;
    font-size: 50px;
    margin:0;
    transition : letter-spacing 1s ;
}

#showcase h3:hover{
    letter-spacing : 3px ;
}

/*----#boxes----*/
#boxes{
    margin-top:40px;
    margin-bottom:40px;
}

#boxes .box{
    float:left;
    width: 30%;
    padding:18px;
    text-align: justify;
}

#middle-box{ 
    border-left:rgb(56, 58, 59) solid 1px; 
    border-right:rgb(56, 58, 59) solid 1px; 
}

.box h2{
    text-align: center;
}

.box img{
    width:120px;
    height:120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-icon{
    transition: scale 1.5s ;
}

.service-icon:hover{
    scale : 1.15 ;
}

/*------#contact-us------*/
#contact-us{
    width:auto;
    margin:auto;
    border-top: lightseagreen solid 30px;
}

#contact-us #contact-us-form{
    padding:10px;
    float: left;
    width:45%;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    border-right: rgb(56, 58, 59) solid 2px;
}

#contact-us #contact-details{
    padding:10px;
    float: right;
    width:45%;
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
}

#contact-us-form label{
    width: 20%;
    float:left;
    padding-top: 20px;
}
#contact-us-form input , #contact-us-form textarea {
    width: 70%;
    height: auto;
    float: left;
    border:lightseagreen solid 2px;
    border-radius: 0.4em;
    padding:10px;
    margin-top:10px;
    text-align: left;
    font-size: 18px;
    color: rgb(56, 58, 59);
    font-family: Arial, Helvetica, sans-serif;
}


/*----fotter-----*/
footer{
    background: rgb(56, 58, 59);
    color:#f1f1f4;
    margin-bottom: 0;
    height:100px;
    text-align: center;
    padding-top:20px;
    margin-top:50px;
}




/*Media queries*/
@media( max-width: 1500px ){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    #contact-us #contact-us-form,
    #contact-us #contact-details{
        float:none;
        width:100%;
        text-align: center;
    }
    .container{
        width: 85%; /*Responsive*/
        margin: auto;
    
        overflow:hidden; 
        /* specifies what should happen if content overflows an element's box.The overflow is clipped, and the rest of the content will be invisible*/
    }

    #showcase h3{
        line-height: 1.6em;
    }

    header nav{
        padding-bottom:20px;
    }

    header li{
        padding:0 5px 0 5px;
        border-left: linen solid 1px;
    }

    header a{
        font-size: 18px;
    }

    header a:hover{
        letter-spacing: normal;
    }

    header .current{
        font-size: 20px;
    }

    #middle-box{
        border:none;
    }

    #contact-us-form label,
    #contact-us-form input , 
    #contact-us-form textarea {
        width:85%;
        margin: auto ;
        text-align: center;
    }
    
    .button-lightseagreen#read-more{
        margin:auto;
    }
}
